.recommended-friends {
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-chat__header span i {
  font-size: 10px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.open-post__hashtag {
  text-transform: uppercase;
  opacity: 0.6;
  margin: 7px 0px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  font-size: 14px;
  opacity: 0.5;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post__members-status {
  color: #ff79cb;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 8.3%;
}

.open-post__heart-count {
  color: white;
  background-color: var(--gray);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
