#friends-display-link {
  position: fixed;
  text-align: center;
  display: block;
  background-color: #fafafa;
  width: 100%;
  padding: 15px 0px;
  top: 105px;
  font-size: 16px;
  z-index: 3;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
