#friends-display-link {
  position: fixed;
  text-align: center;
  display: block;
  /* background-color: #fafafa; */
  background-color: lawngreen;
  width: 100%;
  padding: 15px 0px;
  top: 105px;
  font-size: 16px;
  margin-bottom: 10px;
  z-index: 2;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
