.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 2px solid rgba(121, 121, 121, 0.301);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  display: flex;
  background-color: tomato;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.nav__notificationnothing {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 20px;
}
