.user-component {
  position: relative;
  top: 162px;
  z-index: 3;
  /* margin-top: 10px; */ >> 적용안됨 
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 16;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
